h1 {
    font-size: 35px;
}
.gallery {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 1000px;

    scroll-snap-points-x: repeat(1000px);
    scroll-snap-type: mandatory;
    scroll-snap-destination: 0% 100%;
}

img {
    width: 100%;
}
